*{
    margin:0;
    padding:0;
    font-family: 'Lexend Deca', sans-serif;
}
@media only screen and (max-width:690px){
    .main-card{
    flex-direction: column;
    }
    main{
        padding-top: 3em!important;
    }
}
main{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    padding-top:10em;
    justify-content: center;
    align-content: center;
}
.attribution{
    align-self: flex-end;
    margin:50px auto 50px auto;
}
.main-card{
    width:75%;
    align-self:center;
    border-radius:0.55em;
    background-color:blue;
    display: flex;
    overflow: hidden;
}
.card{
    flex:1 1 200px;
    padding:3em 3em;
}
.card > img{
    margin-bottom:3em;
    
}
.card > h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    margin-bottom:1em;
}
.card > a {
    background-color:hsl(0, 0%, 95%);
    border-radius: 2em;
    padding: 1em 1.5em;
    text-decoration: none;
    color:rgb(0, 0, 0);
    mix-blend-mode:lighten;

}
.card > a:hover{
    border: 2px solid white;
    background-color:transparent;
    color:white;
}
.card1{
    background-color:hsl(31, 77%, 52%);
}
.card2{
    background-color:hsl(184, 100%, 22%)
}
.card3{
    background-color: hsl(179, 100%, 13%);
}
a{
    text-decoration: none;
}